<div class="responsive-bar">
	<div class="logo">
			<img [src]="'assets/Images/logo.png'">
		</div>
		<div class="menu-icon">
			<span></span>
			<span></span>
			<span></span>
			<p class="menu">Menu</p>
			<p class="mclose">Close</p>
		</div>
</div>




<nav>
	<div class="logo">
	  <img [src]="'assets/Images/logo.png'" alt="image">
	</div>
	
	

<ul><li>
	<div class="search-container" id="menu_content">
	<form>
			<div class="form-group auto-search">
				<input class="form-control searchinput"  type="search" onkeypress="return event.keyCode != 13;"  (keydown)="search($event)" style="width:238px;" placeholder="Dynamic Movie Search" />
				<div class="tt-menu">

						
							<div class="search-content"  *ngFor="let movie of movies | slice:0:5">
								<a style="display: table;width:238px;height: 46px;" class="movie-link" target="_blank" [routerLink]="['/movie-details',movie.$key]">
							<img  src="{{movie.mainimgurl}}" alt="image" class="img-responsive">
			
							 <span class="tt-h">{{movie?.filmname}}</span><br>
							 <span class="tt-s">Imdb {{movie?.imdb}}</span>
							</a>	
						</div>
						
				 
					</div>
			</div>
		</form>
	</div>
</li></ul>


<ul id="hide-home">
	<li><a class="anch scrollto" [routerLink]="['/movies']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"   >Home</a></li>
</ul>


  </nav>
