


<section class="sec1" id="slider-hide" *ngIf="checkingC">

  <div class="container-slider">
    <div class="slider">


      <div class="slide slide1">
        <div class="caption">
          <h2 class="topic">Best Animation Films</h2>
          <p>You will find best realeased films with good imdb ratings enjoy..!</p>
        </div>
      </div>


      <div class="slide slide2">_
          <div class="caption">
            <h2 class="topic">Best Comedy Films</h2>
            <p>You will find best realeased films with good imdb ratings enjoy..!</p>
          </div>
        </div>


        <div class="slide slide3">
            <div class="caption">
              <h2 class="topic">Best Action Films</h2>
              <p>You will find best realeased films with good imdb ratings enjoy..!</p>
            </div>
          </div>


          <div class="slide slide4">
              <div class="caption">
                <h2 class="topic">Best Hindi Films</h2>
                <p>You will find best realeased films with good imdb ratings enjoy..!</p>
              </div>
            </div>
         

              <div class="slide slide1">
                  <div class="caption">
                    <h2 class="topic">Best Animation Films</h2>
                    <p>You will find best realeased films with good imdb ratings enjoy..!</p>
                  </div>
                </div>


    </div>
  </div>

  
</section>
